global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: cadvisor
    static_configs:
      - targets: ["cadvisor:8080"]

  - job_name: "node-exporter"
    static_configs:
      - targets:
          - "node-exporter:9100"
  
  # Redpanda admin/metrics endpoint is on 9644 (you already publish 9644 from redpanda-1)
  - job_name: redpanda
    static_configs:
      - targets:
          - "redpanda-1:9644"
          - "redpanda-2:9644"
          - "redpanda-3:9644"

  # Confluent Schema Registry does not always expose Prometheus metrics out-of-the-box.
  # This is still useful for "up" checks.
  - job_name: schema-registry
    metrics_path: /
    static_configs:
      - targets: ["schema-registry:8081"]

  # MinIO exposes Prometheus metrics at /minio/v2/metrics/cluster
  - job_name: minio
    metrics_path: /minio/v2/metrics/cluster
    static_configs:
      - targets: ["minio:9000"]
